{% extends 'generic/base.html' %} {% block content %}

<div class="pet-list container">
  <a href="#">
    <img src="" width="200px" height="250px" box-border="1px black solid" />
  </a>
  {% for family in families %}
  <div class="family-card container" box-border="1px black solid">
    <a href="#">
      {% if family.photo %}
      <img src="{{ family.photo.url }}" width="200px" height="250px" />
      {% endif %}
    </a>
    <p>{{ family.household }}</p>
  </div>
  {% endfor %}
</div>

{% endblock content %}
